@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BlogDTO
<h1>Add Blog</h1>
<form method="post" asp-controller="Blog" asp-action="SaveBlog" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="form-group">
            <input type="hidden" asp-for=ID class="form-control" />
            <input type="Text" asp-for=Title class="form-control" placeholder="Blog Title" />
            <input type="Text" asp-for=Content class="form-control" placeholder="Blog Content" />
            <select asp-for=CategoryId id="CategoryId" class="btn btn-info">
                @foreach (var item in @ViewBag.categ)
                {
                    <option value="@item.ID">@item.CategoryName</option>
                }
            </select>
            <input type="file" name="image" class="form-control" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Blog</button>
    </div>
</form>

