@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CategoryDTO
<h1>Add Category</h1>

<div class="modal-content">
    <form method="post" asp-controller="Blog" asp-action="SaveCategory">
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" name="ID" class="form-control" />
                <input type="Text" name="CategoryName" class="form-control" placeholder="Category Name" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Category</button>
        </div>
    </form>

</div>

